/***************************************************************************/

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, /*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***************************************************************************/

html
{
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    background: #888;
}

body
{
    margin: 16px;
}

textarea
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: consolas, courier new, monospace;
}

/***************************************************************************/

#fix-message-input
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 100%;
    height: 100px;
    border-width: 0;
    border-radius: 6px;
    resize: vertical;
    padding: 16px;
}

#footer
{
    text-align: center;
    margin: 40px 0;
    line-height: 2em;
}

#footer, #clear, #samples a, #options
{
    color: #000;
    font-family: consolas, courier new, monospace;
    font-size: 12px;
    font-weight: bold;
}

#footer a
{
    color: #000;
}

#footer img
{
    margin-bottom: -4px;
}

#options
{
    margin-top: 16px;
}

thead
{
    font-weight: bold;
}

tr.system-field
{
    color: #aaa;
}

tr.deprecated-field td.field-name
{
    text-decoration: line-through;
}

tr.header-field
{
    color: #777;
}

td.field-id
{
    text-align: right;
}

td.field-id a
{
    color: #028;
    text-decoration: none;
}

td.field-id a:hover
{
    text-decoration: underline;
}

td.field-id a:visited
{
    color: inherit;
}

td.field-value
{
    font-family: consolas, courier new, monospace;
}

td.field-value span.encoded-value
{
    color: #888;
    font-size: 0.8em;
}

td.data-type
{
    display: none;
}

/***************************************************************************/

div.message
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 32px;
    margin-top: 16px;
    background: #F0F2EB;
}

div.message h1
{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #45484B;
}

div.message table
{
    border-spacing: 13px 3px;
    border-collapse: separate;
    display: inline-block;
    text-align: left;
}

div.message.side-right
{
    text-align: right;
}

/***************************************************************************/

#about
{
    margin-top: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 16px;
    background-color: #CCC;
}

#about em
{
    font-style: italic;
}

#about h2
{
    font-size: 1.4em;
    margin: 20px 0;
}

#about p
{
    margin-bottom: 16px;
}

#clear
{
    display: none;
    float:right;
    margin-top: 16px;
}

/***************************************************************************/

ul.flat
{
    margin: 0;
    padding: 0;
}

ul.flat > li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.horizontal > li
{
    display: inline-block;
}
